// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary:rgb(35, 215, 206);
$gray:rgb(128, 128, 128);

$theme-colors : (
"primary":$primary,
"gray":$gray

);

$custom-color: (

  "icon-background":rgba(185, 24, 82,0.2)
);

/* mearge map */


$theme-colors:map-merge($theme-colors , $custom-color );






@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here



.main-navigation
{

  font-family: Titillium Web;  
  font-weight: 600;

    .current-menu-item {

     color:rgb(35, 215, 206);





    }

    a {

      text-transform: uppercase;

        color: var(--bs-black);
        padding: 0.6rem 1.2rem;


    }

    a:hover {
     
    color:rgb(35, 215, 206);


  }

  .menu-toggle {

    background-color: white;
    color: black;
    border: black;
    border: 3px solid;

  }

  .sub-menu {
    li {

      background-color: white;
	  
      

    }

    a:hover {
     
      color:rgb(35, 215, 206);
  
      }

  }

  
}


.banner {
  background: url(../img/cover/cover02.png) ; 
  height: 100%;
  background-position:center ;
  background-repeat: no-repeat;

  h1 {

    color: rgb(255, 255, 255);

	-webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color:black;

  
    
    
    
  
}

  
   h2 {

    color: $primary;


    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color:black;
  
    
    
    
  
}



  
}



.hover06 {
	display: none;
  }
  
  @media only screen and (min-width: 414px) {
	.hover06 {
		display: block;
			}
	.hover06 figure img {
		-webkit-transform: rotate(15deg) scale(1.0);
		transform: rotate(15deg) scale(1.0);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	
	
	.hover06 figure:hover img {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
	}
  }













// Learn more:
// @link https://dev.to/5t3ph/pure-css-typing-animation-1nld

// "Type" width
// - controls how much the word container expands when each letter is "typed"
// - will need adjusted depending on word and typeface
$chWidth: 0.49em;
// Word length
$chCount: 14;
// Typing animation length
$typeDuration: 180ms * $chCount;

$color:$primary;







h1 {
  font-size: 3rem;
	text-align: center;
  color: white;
}

.type-animation {
	// Required for keeping expected alignment
	display: inline-flex;
	// Start out by hiding via width and overflow
	width: 0;
	overflow: hidden;
	// Leave room for cursor!


	&:after {
		content: "";
	
		position: absolute;
		right: 0;
		top: -0.05em;
		bottom: -0.05em;
		width: 0.08em;
		border-right: 2px solid transparent;
	}

	&.animating {
		animation: type $typeDuration;
		// "stick" to last frame
		animation-fill-mode: forwards;
		animation-delay: 1s;

		&:after {
			$cursorLoopCount: ((($chCount + 1) * 180)/320) + 3;
			animation: cursor 320ms $cursorLoopCount ease-in-out;
		}
	}
}

.img-fluid {

	


	max-width: 60%;
	height: auto;

}





$frameSize: 100 / $chCount;
@keyframes type {
	@for $ch from 1 to $chCount {
		$frame: $ch * $frameSize;
		#{$frame}% {
			width: $ch * $chWidth;
		}
	}
	100% {
		width: ($chCount - 1) * $chWidth;
		padding-right: 0;
	}
}


	





.service {

	h1.service-title.text-center.pt-3 {
		color: rgb(255, 98, 41);

	}

	.service-headline
	{
		font-family: Titillium Web; 
		
		color: black;
		
	

	}


	figure.snip0016 {

		font-family: Titillium Web; 

		
		color: #ff6127;
		position: relative;
		overflow: hidden;
		
	
		
		width: 100%;
		background: #000000;
		text-align: center;
	  }
	  figure.snip0016 * {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	  }
	  figure.snip0016 img {
		max-width: 100%;
		opacity: 1;
		width: 100%;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
	  }
	  figure.snip0016 figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 30px 3em;
		width: 100%;
		height: 100%;
	  }
	  figure.snip0016 figcaption::before {
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 100%;
		border-left: 4px solid rgba(255, 255, 255, 0.8);
		content: '';
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.5);
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		-webkit-transition-delay: 0.6s;
		transition-delay: 0.6s;
	  }
	 
	  figure.snip0016 a {
		margin: 0 0 5px;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
	  }
	  figure.snip0016 h2 {
		word-spacing: -0.15em;
		font-weight: 300;
		
		text-transform: uppercase;
		-webkit-transform: translate3d(30%, 0%, 0);
		transform: translate3d(30%, 0%, 0);
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;

	  }
	  figure.snip0016 h2 span {
		font-weight: 800;
	

	  }

	  figure.snip0016 h3 {
		text-transform: uppercase;
	    font-size: calc(1.0rem + 0.6vw);
		font-weight: unset;



	
	

	  }

	  figure.snip0016 a {
	
		-webkit-transform: translate3d(0%, 30%, 0);
		transform: translate3d(0%, 30%, 0);
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		
	  }
	  figure.snip0016 a {
		left: 0;
		right: 0;
		top:0.5em; 
		bottom: 0;
		position: relative;
		color: #ffffff;
	  }
	  figure.snip0016:hover img {
		opacity: 0.3;
	  }
	  figure.snip0016:hover figcaption h2 {
		opacity: 1;
		-webkit-transform: translate3d(0%, 0%, 0);
		transform: translate3d(0%, 0%, 0);
		-webkit-transition-delay: 0.4s;
		transition-delay: 0.4s;
	  }
	  figure.snip0016:hover figcaption a {
		opacity: 0.9;
		-webkit-transform: translate3d(0%, 0%, 0);
		transform: translate3d(0%, 0%, 0);
		-webkit-transition-delay: 0.6s;
		transition-delay: 0.6s;
	  }
	  figure.snip0016:hover figcaption::before {
		background: rgba(255, 255, 255, 0);
		left: 30px;
		opacity: 1;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	  }

	  .btn-lg, .btn-group-lg > .btn {
		
		font-size: unset;
		
	}



}

  
.site-footer {


    .menu{
        margin: 0;
        padding: 0;
        list-style-type: none;
        a {

            color: $white;
            text-decoration: none;
            display:block ;
            padding: 0.3rem 0;


        }

        a:hover {

            text-decoration: underline;

        }



    }
}




